/*
  Your use of the content in the files referenced here is subject to the terms of the license at https://aka.ms/fabric-assets-license
*/
@font-face {
  font-family: 'msIcons';
  src: url('../../fonts/ms-icons.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'msIcons';
  font-style: normal;
  font-weight: normal;
}

.ms-Icon--ChevronRight:before { content: "\E76C"; }
.ms-Icon--Unlock:before { content: "\E785"; }
.ms-Icon--Clear:before { content: "\E894"; }
.ms-Icon--Ribbon:before { content: "\E9D1"; }
.ms-Icon--Design:before { content: "\EB3C"; }
